*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.dropdown_btn{
    display: none;
    border: none;
    background-color: transparent;
    padding: 10px;
}
i{
   font-size: 20px;
}
nav{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background-color: beige;
    position: relative;
}
.nav_list{
    display: flex;
    align-items: center;
}
.nav_item{
    margin: 0 15px;
}
.nav_link{
    font-size: 20px;
    color: #333;
}
.nav_link:hover{
    color: blue;
}
.nav_btn{
    font-size: 20px;
    color: white;
    background-color: #C24914;
    padding: 10px 15px;
    border-radius: 10%;
    border: none;
}
.nav_btn:hover{
    background-color: #FC8621;
}


.header_main{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_main_info, .header_main_img{
    width: 50%;
}

.header_main_title{
    font-size: 52px;
    width: 400px;
    font-weight: 900;
    line-height: 100%;
}
.header_main_subtitle{
    font-size: 20px;
    opacity: 75%;
    width: 600px;
    margin: 20px 0 ;
}

.header_main_btn{
    font-size: 20px;
    color: white;
    background-color: #C24914;
    padding: 10px 15px;
    border-radius: 10%;
    border: none;
}
.header_main_btn:hover{
    background-color: #FC8621;
}